{% extends "base.html" %}
{% load static %}

{% block content %}

 <div id="main" class="product-list">
 <h1>Menu</h1>
 {% for product in categories %}
 <div class="item">
 <a href="{{ product.get_absolute_url }}">
 <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
<!--<img src="/{{ BASIC_DIR }}/{{image.img}}" width="120"/>-->
 </a>
 <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
 <br>
<!-- ${{ product.price }}-->
 </div>
 {% endfor %}
 </div>
{% endblock %}