{% extends "project_base.html" %}
{% load static %}

{% block content %}
<div id="main">
    <h1>{{ category }} <a href="{% url 'menu:menu_list' %}"
            style="text-align: right; float: right; color: black; text-decoration: none;">Menu</a></h1>
    <div class="row">
        {% for food in food_details_list %}
        <div class="col-md-3 mt-4">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if food.image %}{{ food.image.url }}{% else %}{% static " img/no_image.png" %}{% endif %}"
                    width="100%" height="240" border-radus="50%" style="border-radius: 15%">
            </a><br>
            <a href="{{ food.get_absolute_url }}"
                style="color: black; margin-left: 124px; text-decoration: none;">{{food.name }}</a>
            <!-- <p style="margin-left: 124px;">{{ food.description }}</p> -->
            <p style="margin-left: 124px;">₹{{ food.price }}</p>

            <div id="buttonGroup{{ forloop.counter }}">
                <button class="add-btn" onclick="replaceButtonGroup({{ forloop.counter }})"
                    style="background-color: green; width: 50px">Add</button>
            </div>
            <div id="plusMinusGroup{{ forloop.counter }}" style="display: none;">
                <button style="background-color: red; color: #fff;" class="minus-btn" type="button">-</button>
                <input style="width: 30px;" type="text" class="quantity-input" value="1">
                <button style="background-color: green; color: #fff;" class="plus-btn" type="button">+</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        function replaceButtonGroup(counter) {
            const buttonGroup = document.getElementById(`buttonGroup${counter}`);
            const plusMinusGroup = document.getElementById(`plusMinusGroup${counter}`);

            buttonGroup.style.display = 'none';
            plusMinusGroup.style.display = 'block';

            // const quantityInput = plusMinusGroup.querySelector('.quantity-input');
            // quantityInput.value = '1';
        }

        // Retrieve all quantity input elements
        const quantityInputs = document.querySelectorAll('.quantity-input');

        // Retrieve all plus and minus buttons
        const plusBtns = document.querySelectorAll('.plus-btn');
        const minusBtns = document.querySelectorAll('.minus-btn');

        // Add event listeners to each item separately
        for (let i = 0; i < plusBtns.length; i++) {
            const plusBtn = plusBtns[i];
            const minusBtn = minusBtns[i];
            const quantityInput = quantityInputs[i];

            plusBtn.addEventListener('click', function () {
                quantityInput.value = parseInt(quantityInput.value) + 1;
            });

            minusBtn.addEventListener('click', function () {
                const currentValue = parseInt(quantityInput.value);
                if (currentValue === 1) {
                const parentElement = minusBtn.parentElement.parentElement;
                const buttonGroup = parentElement.querySelector(`#buttonGroup${i + 1}`);
                const plusMinusGroup = parentElement.querySelector(`#plusMinusGroup${i + 1}`);

                quantityInput.value = 1; // Reset the quantity input value
                buttonGroup.style.display = 'block';
                plusMinusGroup.style.display = 'none';
            } else {
                quantityInput.value = currentValue - 1;
            }
            });
        }
    </script>


</div>
{% endblock %}
